*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
span{
    color: red;
}

body{
    font: 18px;
    font-family: 'Signika', sans-serif;
}
.navDiv{
    display: flex;
    justify-content: flex-end;
    position: relative;
    padding-top: 15px;
}

.navDiv ul{
    display: flex;
    list-style-type: none;

}

.navDiv a{
    font-size: 24px;
    padding: 10px;
    margin: 20px;
    text-decoration: none;
    color: white;
}

.navDiv a:hover{
    border-bottom: red solid;
}

.menuDiv{
    background-color: black;
}

.menuDiv img{
    width: 100%;
    height: 500px;
    opacity: 0.35;
}

/* Profile circle */

.profile div{
    position: absolute;
}

.profile{
    display: flex;
    justify-content: center;
}

.square{
    height: 450px;
    width: 320px;
    background-color: rgb(73, 72, 72);
    opacity: 0.7;
    z-index: 10;
    top: 70px;
}

.circle-trans{
    height: 290px;
    width: 290px;
    border-radius: 50%;
    border: solid 30px red;
    z-index: 14;
    opacity: 0.2;
    top: 90px;
}
.circle{
    width: 230px;
    height: 230px;
    border-radius: 50%;
    border: solid 15px red;
    z-index: 16;
    top: 120px;
}

.profileImg{
    top: 134px;
    z-index: 20;
}

.profileImg img{
    width: 202px;
    height: 202px;
    border-radius: 50%;

}

.squareText{
    font-size: 30px;
    color: white;
    top: 380px;
    z-index: 20;
}

.squareText2{
    font-size: 26px;
    top: 410px;
    z-index: 20;
}

.squareText3{
    font-size: 20px;
    top: 480px;
    z-index: 20;
}

.squareText3:hover{
    border-bottom: red solid;
}

.squareText3 a{
    color: white;
    text-decoration: none;
}

.contactIcons{
    top: 440px;
    z-index: 20;
}

.contactIcons img{
    width: 40px;
    margin: 0 10px;
}

.contactIcons img:hover{
    transform: scale(1.2);
}

/* Portafolio */

.briefcase{
    background-color: rgb(39, 39, 39);
}

.briefcaseSection h2{
    color: white;
    padding: 40px;
    text-align: center;
}

.briefcaseGrid{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(290px,auto));
    gap: 170px;
    width: 90%;
    margin: 0 auto;
}

.briefcaseGrid img{
    width: 100%;
    border-radius: 10px;
    transition: transform 0.2 ease;
}

.briefcaseGrid img:hover{
    transform: scale(1.1);
}

/* Habilidades */

section.skills{
    background-color: rgb(39, 39, 39);
}

.skill{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,auto));
    justify-content: center;
    gap: 170px;
    width: 90%;
    margin: 0 auto;
    padding-bottom: 110px;
}

.skill h2{
    color: white;
    padding-bottom: 60px;
    padding-top: 60px;
}
.skill h3{
    background-color: black;
    text-align: center;
    border-radius: 5px;
    padding: 5px 0;
    font-size: 18px;
    width: 100px;
    opacity: 0;
    transform: translate(0,-100px);
    transition: transform 0.4s ease, opacity 0.4s ease;
    color: red;
}

.conocimientos>div:hover h3,
.herramientas>div:hover h3{
    opacity: 1;
    transform: translate(0,-130px);
}
.skill img{
    width: 80px;
    height: auto;
}

.conocimientos{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(110px,auto));
    justify-content: center;
    gap: 25px;
}

.herramientas{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(70px,auto));
    justify-content: center;
    gap: 50px;
}

/* ABOUT */

.aboutMe{
    background-color: black;
}

.aboutFlex{
    display: flex;
    width: 90%;
    margin: 0 auto;
    padding: 50px 0 100px;
}

.aboutMe p{
    width: 90%;
    margin: 0 auto;
    line-height: 30px;
    font-size: 24px;
    color: white;
}

.social{
    border-left: white solid;
    padding-left: 50px;
}

.social img{
    width: 60px;
    margin: 10px;
}

.social img:hover{
    transform: scale(1.2);
}

.githubIcon{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.githubIcon a{
    font-size: 24px;
    display: flex;
    align-items: center;
    text-decoration: none;
    gap: 15px;
}
.githubIcon span:hover{
    color: white;
}

.githubIcon img{
    width: 70px;
}

.githubIcon img:hover{
    transform: scale(1.2);
}

footer{
    background-color: black;
    text-align: center;
    color: white;
    padding-top: 100px;
}
